body {
	background-color: #454242;
}
/*body header {
	color: darkred;
	float: left;
	margin-left: auto;
	border-style: double;
	border-radius: 5px;
	border-width: 9px;
	border-color: #000000;
	background-color: #ffffff;
}*/
#Title {
	max-width: 90%;
	height: auto;
	margin: auto;
}
#logDiv {
	max-width: 30%;
	height: auto;
	margin-left: 4%;
	margin-top: 1%;
}
#connectDiv {
	max-width: 30%;
	height: auto;
	margin-left: 4%;
	margin-top: 1%;
}
.frame {
	background-color: #ffffff;
	border-style: double;
 	border-radius: 5px;
 	border-width: 9px;
 	border-color: #000000;
}
.alignText {
	text-align: center;
	list-style-type: none;
	display: fixed;
	size: 2vw;
}
.alignButton {
	width: 100%;
	background-color: black;
	color: white;
	font-size: 2vw;
	height: auto;
}
#LogList {
	text-align: initial;
	display: block;
	font-size: 2vw;
}